.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  & .form-input {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
    width: 550px;
    gap: 16px;

    & label {
      color: $black-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      display: flex;
      gap: 8px;
      width: 100%;
      & input {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        &:focus {
          border: 1px solid $primary-color !important;
          outline: none;

        }
      }
    }
  }
  & label {
    color: $black-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    gap: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;

    & input {
      padding: 12px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.16);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
    & :focus {
      border: 1px solid $primary-color;
      outline: none;
    }
  }

  & textarea {
    height: 117px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}
