.nav {
  display: flex;
  align-items: center;
  padding: 20px 140px;
  color: $white-color;
  justify-content: space-between;
  border-bottom: 1px solid $white-color;

  & .nav-items {
    display: flex;
    align-items: center;
    height:67px;
    
    & .logotype {
      font-size: 28px;
      margin: 0 40px 0 14px;
      font-weight: 600;
    }
  }
  
  & ul {
    display: flex;
    gap: 40px;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
  }
  
  & .nav-search {
    cursor: pointer;
    padding: 4px;
  }
}

